body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #F8C8DC;
  color: 	#7B3F00;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: 	#7B3F00;
  border-left: 1px solid #FF69B4;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid #F8C8DC;
}

.hour {
  background-color:#FFC0CB;
  color: #7B3F00;
  border-top: 1px solid #FF69B4;
}

.past {
  background-color: #E0BFB8;
  color: white;
}

.present {
  background-color: #E37383;
  color: white;
}

.future {
  background-color: #90EE90;
  color: white;
}

.saveBtn {
  border-left: 1px solid #FF69B4;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #DE3163;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
